* {
    margin: 0;
    padding: 0;
}
nav {
    display: grid;
    grid-template: "logo-principal  menu-principal empty" 
                    "logo-principal div-busqueda   empty"/
                    6fr             4fr            1fr;
}
.logo-principal {
    grid-area: logo-principal;
    width: 160px;
    margin-top: 30px;
    margin-left: 50px;
}
.menu-principal {
    grid-area: menu-principal;
    margin-top: 25px;
    text-align: left;
}
li {
    background-color: rgb(238,174,64);
    display: inline-block;
    font-size: 1.4em;
    color: white;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 50px;
    list-style: none;
}
a {
    color: rgb(48,48,48,.8);
    font-weight: 900;
    text-decoration: none;
}
.div-busqueda {
    grid-area: div-busqueda;
}
.main-title {
    width: 100%;
    height: 120px;
    background-color: rgb(217,117,65);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.input-busqueda-style {
    margin: 10px 0 10px 10px;
    width: 80%;
    height: 40px;
}
.icono-lupa-style {
    width: 20px;
}
.main-content {
    display: grid;
    height: 350px;
    grid-template: "productos-dia lo-mas-vendido" /
                    2fr            1fr;
}
.productos-dia {
    grid-area: productos-dia;
    background-color: darkcyan;
    width: 80%;
    height: 320px;
    margin: 0 20px 30px 60px;
    display: grid;
    grid-template: "img-lulo img-yuca img-bulto-cafe" /
                    1fr      1fr      1fr; 
}
.img-lulo {
    grid-area: img-lulo;
    background-color: aquamarine;
    width: 80%;
    margin: 15px;
}
.img-yuca {
    grid-area: img-yuca;
    background-color: gainsboro;
    width: 80%;
    margin: 15px;
}
.img-bulto-cafe {
    grid-area: img-bulto-cafe;
    background-color: maroon;
    width: 80%;
    margin: 15px;
}
.lo-mas-vendido {
    grid-area: lo-mas-vendido;
    background-color: goldenrod;
    width: 80%;
    height: 320px;
    margin: 0 60px 30px 20px;
}